<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blog</title>
</head>
<body style="background: #88e8e8">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
    <div class="container">
        <a  href="/" style="font-size: 2rem;text-align: center;width: 100%;font-weight:500;color: lightcyan;text-decoration: none">Home</a>
    </div>

</nav>