<%-include("base/header")%>
<div class="container my-4" style="box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;border-radius: 30px ;padding: 30px;background: white">
  <h1 class="mb-4">New Quote</h1>

  <form action="/articles" method="POST">
    <%- include('_form_fields') %>
  </form>
</div>
<%-include("base/footer")%>